@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", system-ui;
}

body {
  background-image: url(./assets/9078.jpg);
  background-size: cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 1500px;
  }
  to {
    background-position: 0px 100vh;
    background-size: 2000px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 1500px;
  }
  to {
    background-position: 0px 100vh;
    background-size: 2000px;
  }
}

#instruction {
  position: relative;
  left: 90%;
}

dialog {
  margin: 100px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 30px;
  background-color: #ffffff99;
}

dialog p {
  padding: 5px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

#closeDialog {
  margin: 20px;
  padding: 10px;
}

.container {
  padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
}

.container h1 {
  color: aliceblue;
  font-size: 500%;
  padding: 100px;
  text-align: center;
}

.container h3 {
  color: aliceblue;
  font-size: 200%;
  padding: 50px;
  text-align: center;
}

.container P {
  color: aliceblue;
  font-size: 50px;
  color: yellow;
  text-align: center;
}
.container input {
  background-color: rgb(235, 185, 111);
  width: 50%;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
}

input:hover {
  border: 5px solid rgb(228, 36, 36);
}

.container button {
  width: 30%;
  padding: 30px;
  background-color: rgba(253, 82, 20, 0.9);
  margin-top: 100px;
  font-size: 30px;
}

button:hover {
  background-color: rgb(253, 67, 20);
  border: 2px solid white;
}

.overlay {
  position: absolute;
  z-index: 0;
  top: 0px;
}

#planet {
  position: absolute;
  top: 500px;
  left: 500%;
}

#ufo {
  position: absolute;
  top: 700px;
  left: 50px;
}

.game {
  display: flex;
  justify-content: center;
}

.spaceship {
  margin-top: 40%;
}

@media (max-width: 600px) {
  .overlay {
    display: none;
  }

  .container h1 {
    font-size: 50px;
    padding: 10px;
  }

  .container P {
    margin-top: 50px;
    font-size: 20px;
  }
  .container input {
    margin-top: 50px;
    padding: 20px;
    font-size: 10px;
  }
  .container button {
    padding: 20px;
    margin-top: 50px;
    font-size: 10px;
  }

  #instruction {
    position: relative;
    left: 70%;
  }
}
